<html>
    <head>
        <link rel="stylesheet" href="/library/bootstraps/css/bootstrap.min.css">
    </head>

    <body>
        <header></header>
        <main>
            <%- body%>
        </main>
        <footer>
            
        </footer>

        <script src="/library/bootstraps/js/bootstrap.min.js"></script>
        <%- script %>
    </body>
</html>